@import "../defaults/color";
@import "./misc";
@import "../defaults/breakpoints";

footer {
  background-color: $primary-color;
  color: white;
  margin-top: auto;
  padding: 20px;
  display: flex;
  justify-content: center;


  .signature {
    font-family: "Abril Fatface", cursive;
  }

  .webdev {
    font-family: "Quicksand", sans-serif;
  }

  .socials a i {
    color: red;
    text-decoration: none;
  }
}


@media screen and (max-width: $phone) {
  .signature {
    font-size: 24px;
  }

  .webdev {
    font-size: 12px;
    padding-bottom: 10px;
  }

  .socials {
    font-size: 12px;

    a {
      padding-left: 1%;
      padding-right: 1%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .signature {
    font-size: 32px;
  }

  .webdev {
    font-size: 14px;
  }

  .socials {
    font-size: 16px;
    
    a {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}

@media screen and (min-width: $desktop) {
  .signature {
    font-size: 45px;
  }

  .webdev {
    font-size: 18px;
  }

  .socials {
    font-size: 20px;

    a i {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}