@import "../defaults/color";
@import "../defaults/breakpoints";
@import "../defaults/text";

footer {
  background-color: $primary-color;
  color: white;
  margin-top: auto;
  padding: 20px;

  .socials a i {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: $medium) {
  .signature {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }

  .webdev {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  .socials {
    font-size: 12px;
    display: flex;
    justify-content: center;

    a {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}

@media screen and (min-width: $medium) {
  .signature {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }

  .webdev {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .socials {
    font-size: 14px;
    display: flex;
    justify-content: center;
    
    a {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}

@media screen and (min-width: $large) {
  .signature {
    font-size: 36px;
    display: flex;
    justify-content: center;
  }

  .webdev {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }

  .socials {
    font-size: 16px;
    display: flex;
    justify-content: center;

    a i {
      padding-left: 3%;
      padding-right: 3%;
    }
  }
}