@import "../defaults/color";
@import "../defaults/breakpoints";
@import "../defaults/text";

footer {
	background-color: $pink;
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;

	.signature {
		display: flex;
		justify-content: center;

		img {
			margin-bottom: -2%;
			width: 40%;
			height: auto;
		}
	}

	.socials a i {
		text-decoration: none;
		color: white;
		padding-left: 2%;
		padding-right: 2%;
	}
}

// for mobile view
@media screen and (max-width: $medium) {
	.signature {
		font-size: 24px;
		display: flex;
		justify-content: center;
	}

	.webdev {
		a {
			font-size: 12px;
			display: flex;
			justify-content: center;
			color: white;
			text-decoration: none;
			padding-bottom: 1%;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.socials {
		font-size: 12px;
		display: flex;
		justify-content: center;

		a {
			padding-left: 2%;
			padding-right: 2%;
		}
	}
}

// for tablet view
@media screen and (min-width: $medium) {
	.signature {
		font-size: 32px;
		display: flex;
		justify-content: center;
	}

	.webdev {
		a {
			font-size: 14px;
			display: flex;
			justify-content: center;
			color: white;
			text-decoration: none;
			padding-bottom: 1%;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.socials {
		font-size: 14px;
		display: flex;
		justify-content: center;

		a {
			padding-left: 2%;
			padding-right: 2%;
		}
	}
}

// for desktop view
@media screen and (min-width: $large) {
	.signature {
		font-size: 36px;
		display: flex;
		justify-content: center;
	}

	.webdev {
		a {
			font-size: 16px;
			display: flex;
			justify-content: center;
			color: white;
			text-decoration: none;
			padding-bottom: 1%;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.socials {
		font-size: 16px;
		display: flex;
		justify-content: center;

		a i {
			padding-left: 2%;
			padding-right: 2%;
		}
	}
}
