h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
}

// header
.name {
    font-family: 'Abril Fatface', cursive;
}

.nav-items {
    font-family: 'Quicksand', sans-serif;
}

// footer 
.signature {
    font-family: 'Abril Fatface', cursive;
}

.webdev {
    font-family: "Quicksand", sans-serif;
  }

  // enquiry form
label {
    font-family: 'Quicksand', sans-serif;
}

.form-input {
    font-family: 'Quicksand', sans-serif;
} 

.form-message {
    font-family: 'Quicksand', sans-serif;
} 

#submit {
    font-family: 'Quicksand', sans-serif;
}


