h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

// list items
ul {
    li {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    }
}

// header
.name {
    font-family: 'Abril Fatface', cursive;
}

.nav-items {
    font-family: 'Raleway', sans-serif;
}

// footer 
.signature {
    font-family: 'Abril Fatface', cursive;
}

.webdev {
    font-family: "Raleway", sans-serif;
  }

  // enquiry form
label {
    font-family: 'Raleway', sans-serif;
}

.form-input {
    font-family: 'Raleway', sans-serif;
} 

.form-message {
    font-family: 'Raleway', sans-serif;
} 

#submit {
    font-family: 'Raleway', sans-serif;
}


