h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

footer {
  background-color: #F95A8A;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
footer .signature {
  display: flex;
  justify-content: center;
}
footer .signature img {
  margin-bottom: -2%;
  width: 40%;
  height: auto;
}
footer .socials a i {
  text-decoration: none;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (max-width: 480px) {
  .signature {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .signature {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .signature {
    font-size: 36px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials a i {
    padding-left: 2%;
    padding-right: 2%;
  }
}
h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: white;
  text-align: center;
}
header .heading-logo {
  display: flex;
  justify-content: center;
}
header .heading-logo img {
  padding-top: 1%;
  width: 60%;
  height: auto;
}
header .nav-items a {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}
header .nav-items a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: white;
  text-align: center;
}
header .heading-logo {
  display: flex;
  justify-content: center;
}
header .heading-logo img {
  padding-top: 1%;
  width: 60%;
  height: auto;
}
header .nav-items a {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}
header .nav-items a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

footer {
  background-color: #F95A8A;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
footer .signature {
  display: flex;
  justify-content: center;
}
footer .signature img {
  margin-bottom: -2%;
  width: 40%;
  height: auto;
}
footer .socials a i {
  text-decoration: none;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (max-width: 480px) {
  .signature {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .signature {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .signature {
    font-size: 36px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials a i {
    padding-left: 2%;
    padding-right: 2%;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  background-color: #FF92A1;
  margin-bottom: 0;
}
body main {
  display: flex;
  flex-direction: column;
}
body main .please {
  color: black;
  padding-top: 5%;
}
body main form {
  color: black;
  padding: 10%;
  padding-top: 0%;
}
body main form .form-elements {
  display: flex;
  flex-direction: column;
  margin-bottom: 6%;
}
body main form .form-elements label {
  padding-bottom: 2%;
}
body main form .form-elements .form-input {
  height: 1.4rem;
  outline: none;
}
body main form .form-elements .form-message {
  height: 4.2rem;
  outline: none;
  padding: 1%;
}
body main form .submit-btn {
  display: flex;
  justify-content: center;
}
body main form .submit-btn .btn-text {
  background-color: #FF7080;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: "Raleway", sans-serif;
  height: 2.2rem;
}
body main form .submit-btn .btn-text:hover {
  background-color: #FF7F31;
  color: black;
}
body main .contact-section {
  background-color: #FFC99E;
  padding: 7%;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  body main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 75vh;
  }
  body main .please {
    padding-top: 7%;
    padding-left: 7%;
    text-align: left;
  }
  body main form {
    width: 50%;
    align-items: center;
    padding-top: 7%;
  }
  body main .contact-section {
    text-align: right;
    padding-top: 7%;
    margin-right: 0;
    margin-bottom: 0;
    height: auto;
    background-color: #FFC99E;
  }
  body main .contact-section .contact-words {
    text-align: right;
    align-self: stretch;
  }
}/*# sourceMappingURL=enquiry.css.map */