h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", cursive;
}

.nav-items {
  font-family: "Quicksand", sans-serif;
}

.signature {
  font-family: "Abril Fatface", cursive;
}

.webdev {
  font-family: "Quicksand", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.form-input {
  font-family: "Quicksand", sans-serif;
}

.form-message {
  font-family: "Quicksand", sans-serif;
}

#submit {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", cursive;
}

.nav-items {
  font-family: "Quicksand", sans-serif;
}

.signature {
  font-family: "Abril Fatface", cursive;
}

.webdev {
  font-family: "Quicksand", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.form-input {
  font-family: "Quicksand", sans-serif;
}

.form-message {
  font-family: "Quicksand", sans-serif;
}

#submit {
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: white;
  text-align: center;
}
header .name a {
  text-decoration: none;
  color: #21453E;
}
header .nav-items a {
  color: #21453E;
  text-decoration: none;
  padding-bottom: 20px;
}
header .nav-items a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .name {
    margin-bottom: 16px;
    font-size: 36px;
  }
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .name {
    margin-bottom: 16px;
    font-size: 42px;
  }
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 768px) {
  .name {
    margin-bottom: 16px;
    font-size: 48px;
  }
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", cursive;
}

.nav-items {
  font-family: "Quicksand", sans-serif;
}

.signature {
  font-family: "Abril Fatface", cursive;
}

.webdev {
  font-family: "Quicksand", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.form-input {
  font-family: "Quicksand", sans-serif;
}

.form-message {
  font-family: "Quicksand", sans-serif;
}

#submit {
  font-family: "Quicksand", sans-serif;
}

footer {
  background-color: #21453E;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
footer .socials a i {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 480px) {
  .signature {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 480px) {
  .signature {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 768px) {
  .signature {
    font-size: 36px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials a i {
    padding-left: 3%;
    padding-right: 3%;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  background-color: #21453E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .tagline {
  color: white;
  padding: 10%;
  text-align: center;
  width: 80%;
}
body .tagline p {
  padding-bottom: 5%;
}
body .meet-btn {
  background-color: #21453E;
  border: 2px solid white;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  height: 2.2rem;
}
body .meet-btn a {
  text-decoration: none;
  color: white;
}
body .meet-btn:hover {
  background-color: white;
  color: #21453E;
}
body .meet-btn:hover a {
  text-decoration: none;
  color: #21453E;
}
body .cafe-pic {
  display: flex;
  justify-content: center;
  background-color: #588077;
}
body .cafe-pic img {
  padding: 10%;
  width: 80%;
  height: auto;
}
@media screen and (min-width: 768px) {
  body .tagline h2 {
    font-size: 2.1rem;
  }
  body .tagline p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  body .meet-btn {
    height: 2.5rem;
  }
  body .meet-btn a {
    font-size: 1rem;
  }
}/*# sourceMappingURL=home.css.map */