h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", cursive;
}

.nav-items {
  font-family: "Quicksand", sans-serif;
}

.signature {
  font-family: "Abril Fatface", cursive;
}

.webdev {
  font-family: "Quicksand", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.form-input {
  font-family: "Quicksand", sans-serif;
}

.form-message {
  font-family: "Quicksand", sans-serif;
}

#submit {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", cursive;
}

.nav-items {
  font-family: "Quicksand", sans-serif;
}

.signature {
  font-family: "Abril Fatface", cursive;
}

.webdev {
  font-family: "Quicksand", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.form-input {
  font-family: "Quicksand", sans-serif;
}

.form-message {
  font-family: "Quicksand", sans-serif;
}

#submit {
  font-family: "Quicksand", sans-serif;
}

header {
  background-color: white;
  text-align: center;
}
header .name a {
  text-decoration: none;
  color: #21453E;
}
header .nav-items a {
  color: #21453E;
  text-decoration: none;
  padding-bottom: 20px;
}
header .nav-items a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .name {
    margin-bottom: 16px;
    font-size: 36px;
  }
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .name {
    margin-bottom: 16px;
    font-size: 42px;
  }
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 768px) {
  .name {
    margin-bottom: 16px;
    font-size: 48px;
  }
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
h1 {
  font-family: "Abril Fatface", cursive;
}

h2 {
  font-family: "Abril Fatface", cursive;
  text-align: center;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", cursive;
}

.nav-items {
  font-family: "Quicksand", sans-serif;
}

.signature {
  font-family: "Abril Fatface", cursive;
}

.webdev {
  font-family: "Quicksand", sans-serif;
}

label {
  font-family: "Quicksand", sans-serif;
}

.form-input {
  font-family: "Quicksand", sans-serif;
}

.form-message {
  font-family: "Quicksand", sans-serif;
}

#submit {
  font-family: "Quicksand", sans-serif;
}

footer {
  background-color: #21453E;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
footer .socials a i {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 480px) {
  .signature {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 480px) {
  .signature {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 768px) {
  .signature {
    font-size: 36px;
    display: flex;
    justify-content: center;
  }
  .webdev {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials a i {
    padding-left: 3%;
    padding-right: 3%;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  background-color: #E8EBD6;
}
body main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main .bio {
  color: #21453E;
  padding: 10%;
  text-align: justify;
  width: 100%;
}
body main .pilot-title {
  background-color: #21453E;
  color: white;
  padding: 10%;
  text-align: justify;
  width: 100%;
}
body main .resume {
  background-color: #21453E;
  width: 100%;
  display: flex;
  justify-content: center;
}
body main .resume .resume-btn {
  background-color: #21453E;
  border: 2px solid white;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  height: 2.2rem;
  margin-bottom: 10%;
}
body main .resume .resume-btn a {
  text-decoration: none;
  color: white;
}
body main .resume .resume-btn:hover {
  background-color: white;
  color: #21453E;
}
body main .resume .resume-btn:hover a {
  text-decoration: none;
  color: #21453E;
}
body main .pictures {
  background-color: #588077;
}
body main .stories-btn {
  background-color: #E8EBD6;
  border: 2px solid #588077;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  height: 2.2rem;
  margin-bottom: 15%;
}
body main .stories-btn a {
  text-decoration: none;
  color: #588077;
}
body main .stories-btn:hover {
  background-color: #588077;
  color: #E8EBD6;
}
body main .stories-btn:hover a {
  text-decoration: none;
  color: #E8EBD6;
}
@media screen and (max-width: 480px) {
  body main .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .pictures img {
    width: 80%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    padding-top: 10%;
  }
  body main .pictures img:last-child {
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 480px) {
  body main .bio {
    padding: 7%;
  }
  body main .pilot-title {
    padding: 7%;
  }
  body main .pictures {
    display: flex;
    justify-content: space-between;
    padding: 7%;
  }
  body main .pictures img {
    height: auto;
    width: 31%;
  }
}
@media screen and (min-width: 768px) {
  body .bio {
    padding: 5%;
  }
  body .bio h2 {
    font-size: 2rem;
  }
  body .bio p {
    font-size: 1rem;
    line-height: 1.5;
  }
  body .pilot-title {
    padding: 5%;
  }
  body .pilot-title h2 {
    font-size: 2rem;
  }
  body .pictures {
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  body .pictures img {
    height: auto;
    width: 31%;
  }
  body .resume .resume-btn {
    height: 2.5rem;
  }
  body .resume .resume-btn a {
    font-size: 1rem;
  }
  body .stories-btn {
    height: 2.5rem;
  }
  body .stories-btn a {
    font-size: 1rem;
  }
}/*# sourceMappingURL=meet.css.map */