h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

header {
  background-color: white;
  text-align: center;
}
header .heading-logo {
  display: flex;
  justify-content: center;
}
header .heading-logo img {
  padding-top: 1%;
  width: 60%;
  height: auto;
}
header .nav-items a {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}
header .nav-items a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
  .nav-items a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
h1 {
  font-family: "Abril Fatface", serif;
}

h2 {
  font-family: "Abril Fatface", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul li {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}

.name {
  font-family: "Abril Fatface", serif;
}

.nav-items {
  font-family: "Raleway", sans-serif;
}

.signature {
  font-family: "Abril Fatface", serif;
}

.webdev {
  font-family: "Raleway", sans-serif;
}

label {
  font-family: "Raleway", sans-serif;
}

.form-input {
  font-family: "Raleway", sans-serif;
}

.form-message {
  font-family: "Raleway", sans-serif;
}

#submit {
  font-family: "Raleway", sans-serif;
}

footer {
  background-color: #F95A8A;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
footer .signature {
  display: flex;
  justify-content: center;
}
footer .signature img {
  margin-bottom: -2%;
  width: 40%;
  height: auto;
}
footer .socials a i {
  text-decoration: none;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

@media screen and (max-width: 480px) {
  .signature {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .webdev a {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding-bottom: 1%;
  }
  .webdev a:hover {
    text-decoration: underline;
  }
  .socials {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 480px) {
  .signature {
    font-size: 32px;
    display: flex;
    justify-content: center;
  }
  .webdev a {
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding-bottom: 1%;
  }
  .webdev a:hover {
    text-decoration: underline;
  }
  .socials {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .socials a {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .signature {
    font-size: 36px;
    display: flex;
    justify-content: center;
  }
  .webdev a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding-bottom: 1%;
  }
  .webdev a:hover {
    text-decoration: underline;
  }
  .socials {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .socials a i {
    padding-left: 2%;
    padding-right: 2%;
  }
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  background: linear-gradient(to bottom, #FFC01D, #FF7F31);
  background-size: 100%;
  background-repeat: no-repeat;
}
body main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8%;
}
body main .container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6%;
}
body main .bio {
  color: black;
  text-align: justify;
}
body main .pilot-title {
  background-color: #FFC01D;
  color: black;
  text-align: justify;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 0%;
}
body main .resume {
  background-color: #FFC01D;
  width: 100%;
  display: flex;
  justify-content: center;
}
body main .resume .resume-btn {
  background-color: #FF7F31;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  height: 2.2rem;
  margin-bottom: 6%;
}
body main .resume .resume-btn a {
  text-decoration: none;
  color: black;
}
body main .resume .resume-btn:hover {
  background-color: #FF92A1;
  color: black;
}
body main .resume .resume-btn:hover a {
  text-decoration: none;
  color: black;
}
body main .pictures {
  background-color: #FF7080;
}
body main .stories {
  width: 100%;
  display: flex;
  justify-content: center;
}
body main .stories .stories-btn {
  background-color: #FF92A1;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  height: 2.2rem;
}
body main .stories .stories-btn a {
  text-decoration: none;
  color: black;
}
body main .stories .stories-btn:hover {
  background-color: #FF7080;
  color: black;
}
body main .stories .stories-btn:hover a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 480px) {
  body main .pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .pictures img {
    width: 80%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
    padding-top: 10%;
  }
  body main .pictures img:last-child {
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 480px) {
  body main .pictures {
    display: flex;
    justify-content: space-between;
    padding: 7%;
  }
  body main .pictures img {
    height: auto;
    width: 31%;
  }
}
@media screen and (min-width: 1024px) {
  body main .bio h2 {
    font-size: 2rem;
  }
  body main .bio p {
    font-size: 1rem;
    line-height: 1.5;
  }
  body main .pilot-title h2 {
    font-size: 2rem;
  }
  body main .pictures {
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  body main .pictures img {
    height: auto;
    width: 31%;
  }
  body main .resume .resume-btn {
    height: 2.5rem;
  }
  body main .resume .resume-btn a {
    font-size: 1rem;
  }
  body main .stories-btn {
    height: 2.5rem;
  }
  body main .stories-btn a {
    font-size: 1rem;
  }
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), #F95A8A 90%);
}/*# sourceMappingURL=meet.css.map */