@import "./index";

body {
  background-color: $base-color;

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .bio {
      color: $primary-color;
      padding: 10%;
      text-align: justify;
      width: 100%;
    }

    .pilot-title {
      background-color: $primary-color;
      color: white;
      padding: 10%;
      text-align: justify;
      width: 100%;
    }

    .resume {
      background-color: $primary-color;
      width: 100%;
      display: flex;
      justify-content: center;

      .resume-btn {
        background-color: $primary-color;
        border: 2px solid white;
        border-radius: 5px;
        font-family: "Quicksand", sans-serif;
        height: 2.2rem;
        margin-bottom: 10%;

        a {
          text-decoration: none;
          color: white;
        }

        &:hover {
          background-color: white;
          color: $primary-color;

          a {
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
    }

    .pictures {
      background-color: $secondary-color;
    }

    .stories-btn {
      background-color: $base-color;
      border: 2px solid $secondary-color;
      border-radius: 5px;
      font-family: "Quicksand", sans-serif;
      height: 2.2rem;
      margin-bottom: 15%;

      a {
        text-decoration: none;
        color: $secondary-color;
      }

      &:hover {
        background-color: $secondary-color;
        color: $base-color;

        a {
          text-decoration: none;
          color: $base-color;
        }
      }
    }

    @media screen and (max-width: $medium) {
      .pictures {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 80%;
          height: auto;
          object-fit: contain;
          padding-top: 10%;
        }

        img:last-child {
          padding-bottom: 10%;
        }
      }
    }

    @media screen and (min-width: $medium) {
      .bio {
        padding: 7%;
      }

      .pilot-title {
        padding: 7%;
      }

      .pictures {
        display: flex;
        justify-content: space-between;
        padding: 7%;

        img {
          height: auto;
          width: 31%;
        }
      }
    }
  }
}
